trigger:
- master

pool:
  #name: Default
  vmImage: 'ubuntu-latest'

stages:
  - stage: Build
    displayName: Build
    jobs:
      - job: Build
        displayName: Build
        steps:
          - task: UsePythonVersion@0
            inputs:
              versionSpec: '3.x'
              addToPath: true
          # Install python3.7-distutils
          - script: 'make setup'
            displayName: 'Setup'
          # - script: 'make install'
          #   displayName: 'Install dependencies'
          - task: Docker@2
            displayName: Build an image
            inputs:
              containerRegistry: 'baoth799-dockerregistry'
              repository: 'baoth799/udacity-prj02'
              command: 'buildAndPush'
              Dockerfile: '**/Dockerfile'
              tags: '$(Build.BuildId)'
              arguments: '-t baoth799/udacity-prj02:$(Build.BuildId)'
